In [29]:
import streamlit as st
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
import xgboost as xgb
from sklearn.model_selection import GridSearchCV

In [30]:
df = pd.read_csv(r"D:\ML_assignment\Australian Vehicle Prices.csv")

In [31]:
df.head()

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990

In [88]:
for x in df.columns:
    print(x)
    print(df[x].unique())
    print("*"*39)

Brand
['Ssangyong' 'MG' 'Mercedes-Benz' 'Renault' 'Nissan' 'Honda' 'Toyota'
 'Volkswagen' 'Mitsubishi' 'Ford' 'Subaru' 'Hyundai' 'Jeep' 'Volvo'
 'Mazda' 'Abarth' 'Holden' 'Kia' 'BMW' 'Audi' 'Porsche' 'Suzuki' 'Peugeot'
 'Lexus' 'Jaguar' 'Rolls-Royce' 'Skoda' 'Fiat' 'Citroen' 'LDV' 'HSV'
 'Foton' 'Mahindra' 'Ram' 'Alfa' 'Mini' 'Genesis' 'Dodge' 'Chrysler'
 'Land' 'Opel' 'Maserati' 'Bentley' 'GWM' 'Ferrari' 'Chevrolet' 'McLaren'
 'Great' 'Iveco' 'FPV' 'Chery' 'Haval' 'Infiniti' 'Lamborghini' 'Tata'
 'Aston' 'Daewoo' 'Proton' 'Isuzu' 'Smart']
***************************************
Year
[2022. 2011. 2000. 2014. 2018. 2012. 2013. 2005. 2015. 2016. 2019. 2021.
 2007. 2010. 2003. 2008. 2017. 2020. 2009. 1999. 2004. 2002. 2006. 2023.
 1995. 1985. 2001. 1998. 1986. 1996. 1990. 1993. 1997. 1991. 1994. 1989.
 1992.]
***************************************
Model
['Rexton' 'MG3' 'E500' 'Arkana' 'Pulsar' 'Jazz' 'HiAce' 'Golf' 'Outlander'
 'Fiesta' 'Outback' 'Mirage' 'Camry' 'I45' 'Territory' 'Focus' 'X-Trail'
 'Corolla' 'Yaris' 'Patriot' 'S60' 'Triton' 'E250' 'CX-5' '595' 'CR-V'
 'I30' '6' 'Kluger' 'Santa' 'Cascada' 'Cherokee' 'Imax' 'I20' 'BT-50'
 'CX-7' 'Renegade' 'Grand' '118I' 'Q7' 'Liberty' 'C-HR' 'Forester' 'City'
 'Cruze' 'RAV4' 'CLC200' 'Caddy' 'Civic' 'Compass' '3' 'Ranger' 'Lancer'
 '2' 'Commodore' 'Q3' 'Accent' 'Sportage' 'Cayenne' 'Cayman' 'Navara'
 'Venue' 'Veloster' 'Swift' 'Transit' '308' 'Trax' 'Captiva' 'RS3' 'A200'
 'Sorento' 'Cerato' 'IS350' 'Stinger' 'RIO' 'Landcruiser' 'A3' 'Trafic'
 '208' 'HR-V' 'Accord' 'XF' 'Polo' 'ZS' 'Hilux' 'C200' 'Q2' '218I'
 'Passat' 'Megane' 'Ghost' 'Tarago' 'Iload' 'Impreza' 'Rodeo' 'Astra'
 'Colorado' 'Rapid' 'Picanto' 'Carnival' 'ZST' '500' 'V60' 'Stonic'
 'Tiguan' 'Pajero' 'Vitara' 'CX-9' 'C4' '2008' 'Acadia' 'Barina' 'C220'
 'C250' 'Mustang' 'Pathfinder' 'M5' 'RX350' 'Viva' 'Almera' 'C30' 'R8'
 'GR' 'Koleos' 'G10' 'Touareg' 'Tucson' 'IS250C' 'WRX' 'CX-3' '116I'
 'Eclipse' 'Mondeo' 'RX350L' 'Clubsport' 'Aurion' 'T60' 'Celica' 'Tunland'
 'PIK-UP' 'RX450H' 'GTS' 'Fabia' 'Optima' 'ASX' 'ML350' 'Juke' 'A1' 'Echo'
 'Kona' '1500' 'A4' 'GLE63' 'Sonata' 'Romeo' 'B180' 'Statesman' 'Altima'
 'XC60' 'Cooper' 'LS460' 'Everest' 'Kangoo' 'ES250' 'Sprinter' 'RX450HL'
 'I40' 'GV80' 'Niro' 'Staria' 'Odyssey' 'Countryman' 'Journey' 'ES350'
 '300' '3D' 'Wrangler' 'NX300H' 'GS450H' 'Baleno' '508' 'Ignis' '3008'
 'V80' 'Patrol' 'Qashqai' 'CLS250' 'Rover' 'XC90' 'RCZ' 'HS' '380' 'RS4'
 'Calais' 'ML63' 'Combo' 'RS' 'Sebring' 'Ecosport' 'Fortuner' 'Maxima'
 'E55' 'DS3' 'DS4' 'Captur' 'T-ROC' 'Kuga' 'Getz' '320CI' 'Grancabrio'
 'S40' 'Festiva' 'Express' 'X3' 'NX250' 'Jetta' 'Octavia' 'GLC250' 'IX35'
 'CT' 'Mulsanne' 'Elantra' 'C63' 'Trailblazer' 'Challenger' 'X5'
 'Freemont' 'E350' 'IS300H' 'Escape' 'Panda' 'Gladiator' 'B2500' '500X'
 'Micra' 'Haval' 'Clio' '360' 'GLA180' 'Superb' 'MX-5' 'ES300H' 'Gtsr'
 'Silverado' '5' 'GV70' 'TT' 'ML250' 'V40' 'NX350H' 'Viano' '323' 'IS250'
 'Xjsc' 'A180' 'CLK320' 'B200' 'Monaro' 'Crewman' 'GL500' 'Seltos' 'CX-8'
 'RS5' 'Fairmont' '540C' 'Coupe' 'CLA200' 'LX570' 'CLA' 'Master' 'Granvia'
 'Scala' 'Palisade' 'Jimny' 'Boxster' 'XL-7' '650S' 'F250' 'Macan' 'CX-30'
 'M8' 'X' 'LX500D' '911' 'V250' 'Nitro' 'RC350' 'SL55' 'RX-8' 'Tribeca'
 'UTE' 'Kamiq' 'Wall' 'Jackaroo' 'RX270' 'Prius' 'Laguna' 'Multivan'
 'X250' 'Murano' 'Tiida' 'F430' 'Avensis' 'Valente' 'XUV500' 'S-Cross'
 'Karoq' 'MB100' 'Vito' 'RX330' 'Musso' '718' 'Magna' 'A190' 'E240'
 'Integra' 'Transporter' 'GTC4' 'Granturismo' 'Terracan' 'Daily' 'GT-R'
 'X2' 'Caprice' 'Courier' 'S63' 'Roomster' 'C180' 'Korando' 'BRZ' '5008'
 'Kizashi' 'GLC220' 'Pursuit' 'F' 'RX500H' 'Marco' 'C3' 'Panamera'
 'CLS500' 'Beetle' 'Senator' 'Falcon' 'Trajet' 'C230' 'Doblo' 'A6' 'M3'
 'Adventra' 'LX600' 'CR-Z' '323I' 'CLK63' 'CT200H' 'X1' 'Berlingo'
 'Levorg' 'Omoda5' 'H2' 'CLS350' 'California' 'Hiace' 'Vectra' 'Genesis'
 'GL63' 'G70' 'GLS500' 'K2700' 'SC430' 'Q50' '300C' 'Paceman' 'GLA200'
 'Corsa' 'G80' 'X6' 'Spectra' 'A5' 'GS350' '370Z' 'GLA220' 'Equinox'
 'Malibu' 'XC70' '407' '570S' 'Aventador' '318I' '207' '612' 'NX350'
 'Arnage' 'Q60' '525I' '121' 'MPV' 'LX470' 'Maverick' 'Xenon' 'Clubman'
 'Fairlane' 'SL350' 'APV' 'Martin' 'C5' '5D' 'Lanos' 'Commander' 'Verada'
 'Avalanche' 'GLE250' '316I' 'Laser' 'GS250' 'LX450D' 'Prius-C' 'Coaster'
 'Grange' 'S16' 'Kadjar' '350Z' '325I' 'D-MAX' 'GR86' 'Punto' 'V50'
 'Fortwo' 'Epica' '560' 'A170' 'Sierra' 'Maloo' 'SLK350' 'S430' '420'
 'S350' 'Scorpio-N' 'Corvette' 'GLE400' '190']
***************************************
UsedOrNew
['DEMO' 'USED' 'NEW']
***************************************
Transmission
['Automatic' 'Manual' '-']
***************************************
DriveType
['AWD' 'Front' 'Rear' '4WD']
***************************************
FuelType
['Diesel' 'Premium' 'Unleaded' 'Hybrid' '-' 'LPG' 'Leaded']
***************************************
FuelConsumption
[ 8.7  6.7 11.   6.   8.   4.5  9.8  6.2  7.5  6.1  5.8  8.4  4.7  7.9
  8.2  8.1  4.2  7.7  9.1  0.   7.4  7.6 10.9  6.9  6.6  7.8 10.   9.
  6.3 10.4  5.9  9.3  6.4 11.5  9.2  9.9  5.4  7.3 10.1  9.6  6.5  8.6
  5.2  8.9  4.9  8.8  5.6  7.2  8.5 10.5 10.3  7.   9.5  5.1  9.4  4.6
 11.6  8.3  7.1  9.7 10.6 10.2  6.8  5.3  4.8  3.3  5.7 13.6 10.7 13.
  4.1  3.6 17.2  5.5 13.3 12.8 16.  15.1  3.9  5.  14.8 16.4 13.7 12.6
 11.2 12.2 11.8 11.1 12.4  4.  12.  10.8 11.7  3.8 11.3 14.5 27.  12.1
 12.3 11.9 11.4 14.4 20.  15.4 15.5 13.2  1.7 14.6 17.  16.8 12.9 13.5
 13.9 15.   4.3  4.4 18.3 14.2 13.4 15.2 15.3 14.3 15.7 12.5  3.5 19.8
  1.9 18.6 14.  13.1 18.1 19.1 17.1 20.7 19.  14.1  3.7 16.5  2.5 12.7
  3.4 14.7 14.9 16.6 15.8]
***************************************
Kilometres
['5595' '16' '136517' ... '182254' '6156' '5165']
***************************************
CylindersinEngine
[ 4  8  3  6  5 12  2 10]
***************************************
BodyType
['SUV' 'Hatchback' 'Coupe' 'Commercial' 'Sedan' 'Ute / Tray'
 'People Mover' 'Convertible' 'Wagon' 'Other']
***************************************
Doors
[4 5 2 3]
***************************************
Seats
[ 7  5  4  2  3 14  8  6 11 22 12]
***************************************
Price
[51990. 19990. 32990. ... 27850. 32856. 35280.]
***************************************
cylinders
[ 4.  8.  3.  6.  5. 12.  2. 10.]
***************************************
engine_displacement
[2.2 1.5 5.5 1.3 1.6 2.7 1.4 2.4 2.5 1.2 1.8 3.5 3.2 2.3 4.1 3.6 4.8 3.8
 3.3 4.2 2.8 4.5 6.6 3.7 2.1 4.4 1.9 5.7 0.9 6.2 4.7 1.7 4.6 6.4 2.9 5.4
 6.8 5.6 5.3 4.9 7.3 4.3 3.1 2.6 6.3 3.4 3.9 6.1 6.5 5.9 0.7 5.2]
***************************************

In [32]:
df.isnull().sum()

Brand                   1
Year                    1
Model                   1
Car/Suv                28
Title                   1
UsedOrNew               1
Transmission            1
Engine                  1
DriveType               1
FuelType                1
FuelConsumption         1
Kilometres              1
ColourExtInt            1
Location              450
CylindersinEngine       1
BodyType              282
Doors                1604
Seats                1705
Price                   3
dtype: int64

In [33]:
df.dropna(inplace=True)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14586 entries, 0 to 16733
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brand                14586 non-null  object
 1   Year                 14586 non-null  float64
 2   Model                14586 non-null  object
 3   Car/Suv              14586 non-null  object
 4   Title                14586 non-null  object
 5   UsedOrNew            14586 non-null  object
 6   Transmission         14586 non-null  object
 7   DriveType            14586 non-null  object
 8   FuelType             14586 non-null  object
 9   FuelConsumption      14586 non-null  float64
 10  Kilometres           14586 non-null  object
 11  ColourExtInt         14586 non-null  object
 12  Location             14586 non-null  object
 13  CylindersinEngine    14586 non-null  int64
 14  BodyType             14586 non-null  object
 15  Doors                14586 non-null  int64
 16  Seats                14586 non-null  int64
 17  Price                14551 non-null  float64
 18  cylinders            14496 non-null  float64
 19  engine_displacement  8920 non-null   float64
dtypes: float64(5), int64(3), object(12)
memory usage: 2.3+ MB

In [66]:
df.isnull().sum()

Brand                  0
Year                   0
Model                  0
Car/Suv                0
Title                  0
UsedOrNew              0
Transmission           0
DriveType              0
FuelType               0
FuelConsumption        0
Kilometres             0
ColourExtInt           0
Location               0
CylindersinEngine      0
BodyType               0
Doors                  0
Seats                  0
Price                  0
cylinders              0
engine_displacement    0
dtype: int64

In [65]:
df.dropna(inplace=True)

In [85]:
df.drop('ColourExtInt',axis=1,inplace=True)

In [81]:
df.drop('Title',axis=1,inplace=True)

In [34]:
df.head()

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990

In [89]:
df.head()

,Brand,Year,Model,UsedOrNew,Transmission,DriveType,FuelType,FuelConsumption,Kilometres,CylindersinEngine,BodyType,Doors,Seats,Price,cylinders,engine_displacement
0,Ssangyong,2022.0,Rexton,DEMO,Automatic,AWD,Diesel,8.7,5595,4,SUV,4,7,51990.0,4.0,2.2
1,MG,2022.0,MG3,USED,Automatic,Front,Premium,6.7,16,4,Hatchback,5,5,19990.0,4.0,1.5
3,Mercedes-Benz,2011.0,E500,USED,Automatic,Rear,Premium,11.0,136517,8,Coupe,2,4,32990.0,8.0,5.5
4,Renault,2022.0,Arkana,USED,Automatic,Front,Unleaded,6.0,1035,4,SUV,4,5,34990.0,4.0,1.3
7,Nissan,2000.0,Pulsar,USED,Automatic,Front,Unleaded,8.0,300539,4,Hatchback,5,5,2995.0,4.0,1.6

In [90]:
df.drop('cylinders',axis=1,inplace=True)

In [35]:
import regex

In [36]:
# Use str.replace to remove the non-numeric characters
df['Doors'] = df['Doors'].str.replace(r'[^0-9]', '', regex=True)
df['Seats'] = df['Seats'].str.replace(r'[^0-9]', '', regex=True)
df['CylindersinEngine'] = df['CylindersinEngine'].str.replace(r'[^0-9]', '', regex=True)

In [37]:
df['Doors']=pd.to_numeric(df['Doors'],errors='coerce')
df['Seats']=pd.to_numeric(df['Seats'],errors='coerce')
df['CylindersinEngine']=pd.to_numeric(df['CylindersinEngine'],errors='coerce')

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8900 entries, 0 to 16731
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brand                8900 non-null   object
 1   Year                 8900 non-null   float64
 2   Model                8900 non-null   object
 3   UsedOrNew            8900 non-null   object
 4   Transmission         8900 non-null   object
 5   DriveType            8900 non-null   object
 6   FuelType             8900 non-null   object
 7   FuelConsumption      8900 non-null   float64
 8   Kilometres           8900 non-null   object
 9   CylindersinEngine    8900 non-null   int64
 10  BodyType             8900 non-null   object
 11  Doors                8900 non-null   int64
 12  Seats                8900 non-null   int64
 13  Price                8900 non-null   float64
 14  cylinders            8900 non-null   float64
 15  engine_displacement  8900 non-null   float64
dtypes: float64(5), int64(3), object(8)
memory usage: 1.2+ MB

In [102]:
df.head()

,Brand,Year,Model,UsedOrNew,Transmission,DriveType,FuelType,FuelConsumption,Kilometres,CylindersinEngine,BodyType,Doors,Seats,Price,engine_displacement
0,Ssangyong,2022.0,Rexton,DEMO,Automatic,AWD,Diesel,8.7,5595,4,SUV,4,7,51990.0,2.2
1,MG,2022.0,MG3,USED,Automatic,Front,Premium,6.7,16,4,Hatchback,5,5,19990.0,1.5
3,Mercedes-Benz,2011.0,E500,USED,Automatic,Rear,Premium,11.0,136517,8,Coupe,2,4,32990.0,5.5
4,Renault,2022.0,Arkana,USED,Automatic,Front,Unleaded,6.0,1035,4,SUV,4,5,34990.0,1.3
7,Nissan,2000.0,Pulsar,USED,Automatic,Front,Unleaded,8.0,300539,4,Hatchback,5,5,2995.0,1.6

In [103]:
df.columns

Index(['Brand', 'Year', 'Model', 'UsedOrNew', 'Transmission', 'DriveType',
       'FuelType', 'FuelConsumption', 'Kilometres', 'CylindersinEngine',
       'BodyType', 'Doors', 'Seats', 'Price', 'engine_displacement'],
      dtype='object')

In [40]:
df['FuelConsumption'] = df['FuelConsumption'].str.extract(r'([0-9.]+)').astype(float)

In [41]:

# Extract number of cylinders and engine displacement
df['cylinders'] = df['Engine'].str.extract(r'(\d+) cyl').astype(float)
df['engine_displacement'] = df['Engine'].str.extract(r'(\d+\.\d+) L').astype(float)

In [95]:
Engine='2 ml/4.4 L'

In [101]:
Engine.str.extract(r'(\d+\.\d+) L').astype(float)

AttributeError: 'str' object has no attribute 'str'

In [42]:
df.drop('ColourExtInt',axis=1,inplace=True)

In [43]:
df.head()

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price,cylinders,engine_displacement
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,AWD,Diesel,8.7,5595,White / Black,"Caringbah, NSW",4,SUV,4,7,51990,4.0,2.2
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,Front,Premium,6.7,16,Black / Black,"Brookvale, NSW",4,Hatchback,5,5,19990,4.0,1.5
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,Rear,Premium,6.6,8472,Grey / White,"Sylvania, NSW",4,Coupe,2,4,108988,4.0,NaN
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,Rear,Premium,11.0,136517,White / Brown,"Mount Druitt, NSW",8,Coupe,2,4,32990,8.0,5.5
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,Front,Unleaded,6.0,1035,Grey / Black,"Castle Hill, NSW",4,SUV,4,5,34990,4.0,1.3

In [44]:
df['Price']=pd.to_numeric(df['Price'],errors='coerce')

In [107]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [109]:
dff=df

In [111]:
for i in dff.columns:
    dff[i]=le.fit_transform(df[i])

In [112]:
dff.head()

,Brand,Year,Model,UsedOrNew,Transmission,DriveType,FuelType,FuelConsumption,Kilometres,CylindersinEngine,BodyType,Doors,Seats,Price,engine_displacement
0,53,35,349,0,1,1,1,58,5885,2,6,2,5,1690,11
1,35,35,268,2,1,2,5,38,2181,2,3,3,3,548,5
3,40,24,150,2,1,3,5,81,1389,5,2,0,2,1081,40
4,49,35,61,2,1,2,6,31,156,2,6,2,3,1176,3
7,43,13,320,2,1,2,6,51,4568,2,3,3,3,4,6

In [69]:
df_encoded = pd.get_dummies(df, drop_first=True)

In [70]:
df_encoded.head()

,Year,FuelConsumption,CylindersinEngine,Doors,Seats,Price,cylinders,engine_displacement,Brand_Alfa,Brand_Aston,...,ColourExtInt_Yellow / Slate,BodyType_Convertible,BodyType_Coupe,BodyType_Hatchback,BodyType_Other,BodyType_People Mover,BodyType_SUV,BodyType_Sedan,BodyType_Ute / Tray,BodyType_Wagon
0,2022.0,8.7,4,4,7,51990.0,4.0,2.2,False,False,...,False,False,False,False,False,False,True,False,False,False
1,2022.0,6.7,4,5,5,19990.0,4.0,1.5,False,False,...,False,False,False,True,False,False,False,False,False,False
3,2011.0,11.0,8,2,4,32990.0,8.0,5.5,False,False,...,False,False,True,False,False,False,False,False,False,False
4,2022.0,6.0,4,4,5,34990.0,4.0,1.3,False,False,...,False,False,False,False,False,False,True,False,False,False
7,2000.0,8.0,4,5,5,2995.0,4.0,1.6,False,False,...,False,False,False,True,False,False,False,False,False,False

In [71]:
df_encoded.columns

Index(['Year', 'FuelConsumption', 'CylindersinEngine', 'Doors', 'Seats',
       'Price', 'cylinders', 'engine_displacement', 'Brand_Alfa',
       'Brand_Aston',
       ...
       'ColourExtInt_Yellow / Slate', 'BodyType_Convertible', 'BodyType_Coupe',
       'BodyType_Hatchback', 'BodyType_Other', 'BodyType_People Mover',
       'BodyType_SUV', 'BodyType_Sedan', 'BodyType_Ute / Tray',
       'BodyType_Wagon'],
      dtype='object', length=13489)

In [72]:
df_encoded = df_encoded.dropna(subset=['Price'])
df_encoded.fillna(df_encoded.median(), inplace=True)

In [113]:
X = dff.drop('Price', axis=1)
y = dff['Price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [50]:
# lr_model = LinearRegression()
# lr_model.fit(X_train, y_train)
# y_pred_lr = lr_model.predict(X_test)

In [51]:
# mean_squared_error(y_test, y_pred_lr, squared=False)

In [52]:
# r2_score(y_test, y_pred_lr)

In [53]:
# rf_model = RandomForestRegressor(random_state=42)

In [54]:
# rf_model.fit(X_train, y_train)

In [55]:
# y_pred_rf = rf_model.predict(X_test)

In [114]:
xgb_model = xgb.XGBRegressor(random_state=42)
xgb_model.fit(X_train, y_train)
y_pred_xgb = xgb_model.predict(X_test)

In [57]:
# param_grid = {
#             'n_estimators': [100, 200, 500],
#             'max_depth': [None, 10, 20, 30],
#             'min_samples_split': [2, 5, 10],
#         }
# grid_search = GridSearchCV(estimator=rf_model, param_grid=param_grid, cv=3, scoring='neg_mean_squared_error', verbose=2, n_jobs=-1)
# grid_search.fit(X_train, y_train)
# best_rf_model = grid_search.best_estimator_
# y_pred_tuned_rf = best_rf_model.predict(X_test)

In [115]:
r2_score(y_test, y_pred_xgb)

0.9266812577235635

In [92]:
import pickle

In [117]:
feature_names=X_train.columns.tolist()

In [118]:
feature_names

['Brand',
 'Year',
 'Model',
 'UsedOrNew',
 'Transmission',
 'DriveType',
 'FuelType',
 'FuelConsumption',
 'Kilometres',
 'CylindersinEngine',
 'BodyType',
 'Doors',
 'Seats',
 'engine_displacement']

In [119]:
with open("regression_mo.pkl",'wb') as file:
    pickle.dump((xgb_model,feature_names),file)